.right__container {
    position: relative;
    flex: 1;
}

.all__left__buttons {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    gap: 10px 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.all__left__buttons button {
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    padding: 9px 20px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}

.all__left__buttons button.active {
    background-color: #191919;
    color: #fff;
}

.information__container {
    padding: 10px 20px 25px;
}

.right__image__container {
    width: 100%;
    padding: 0 10px;
}

.right__image__wrapper {
    columns: 3 20rem;
    gap: 10px;
}

/* .right__image__wrapper {
    columns: 1 20rem;
    gap: 10px;
}

@media (min-width: 670px) {
    .right__image__wrapper {
        columns: 2 20rem;
    }
}

@media (min-width: 1000px) {
    .right__image__wrapper {
        columns: 3 20rem;
    }
}

@media (min-width: 1201px) {
    .right__image__wrapper {
        columns: 2 20rem;
    }
}

@media (min-width: 1489px) {
    .right__image__wrapper {
        columns: 3 20rem;
    }
} */

.right__image__card {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    cursor: zoom-in;
}

.right__image__card img,
.right__image__card video {
    width: 100%;
}

.card__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.card__info.photo {
    box-shadow: rgba(0, 0, 0, 0.4) 0px -100px 36px -28px inset, rgba(0, 0, 0, 0.4) 0px 100px 36px -28px inset;
}

.card__info.graphic {
    box-shadow: rgba(0, 0, 0, 0.3) 0px -70px 36px -28px inset, rgba(0, 0, 0, 0.3) 0px 70px 36px -28px inset;
}

.right__image__card:hover .card__info {
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.card__info .info__top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #ffffff;
}

.card__info .info__bottom {
    display: inline-block;
    padding: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    text-overflow: ellipsis;
}

@media screen and (min-width: 1201px) {
    .right__container {
        height: calc(100vh - 80px);
        margin-left: 30px;
        overflow-y: auto;
    }

    .all__left__buttons {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
        justify-content: flex-start;
    }

    .information__container {
        display: none;
    }

    .right__image__container {
        padding: 0;
    }
}