html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f9f9f9;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    padding: 0;
  }
}

@media (min-width: 1201px) {
  .container {
    margin: 0 auto;
  }
}

@media (min-width: 1201px) and (max-width: 1488px) {
  .container {
    max-width: 1338px;
  }
}

@media (min-width: 1489px) and (max-width: 1912px) {
  .container {
    max-width: 1762px;
  }
}

@media (min-width: 1913px) {
  .container {
    max-width: 2186px;
  }
}