.left__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 20px 25px 0;
}

.image__container {
    display: flex;
    width: 100px;
    height: 100px;
}

.image__container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.info__conatiner {
    text-align: center;
}

.info__conatiner .name {
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 22.5px;
    font-weight: bolder;
}

.info__conatiner .profession {
    font-size: 16px;
    line-height: 1.3;
    color: dimgray;
}

.info__conatiner .website {
    font-size: 14px;
    line-height: 1.3;
    color: dimgray;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: 0.3s ease;
}

.info__conatiner .website:hover {
    color: black;
}

.info__conatiner .location {
    padding: 15px 0;
    font-size: 15px;
    color: dimgray;
}

.buttons__container {
    width: 100%;
    margin: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons__container a:nth-child(1),
.buttons__container a:nth-child(2) {
    width: 100%;
    padding: 9px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: 0.2s ease;
}

.buttons__container a:nth-child(1) {
    background-color: #0057ff;
    color: #fff;
    border: 1px solid transparent;
}

.buttons__container a:nth-child(1):hover {
    background-color: #0044cc;
}

.buttons__container a:nth-child(2) {
    background-color: #f5f8ff;
    color: #0057ff;
    border: 1px solid #dee8ff;
}

.buttons__container a:nth-child(2):hover {
    background-color: #0055ff13;
}

.hire__container {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 20px 0;
    border: 1px solid #dee8ff;
    border-radius: 5px;
    color: #191919;
}

.hire__container .hire__text {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.hire__button {
    padding: 15px 0;
    border-top: 1px solid #dee8ff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hire__button svg:first-child {
    width: 19px;
    height: 19px;
    margin-right: 10px;
    margin-bottom: auto;
    fill: #0057ff;
}

.hire__button__text {
    display: inline-block;
    flex: 1;
    line-height: 1.3;
    word-break: break-all;
}

.hire__button__text p:first-child {
    font-size: 14px;
    font-weight: 600;
}

.hire__button__text p:last-child {
    color: #707070;
    display: block;
    font-size: 13px;
}

.hire__button svg:last-child {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    fill: #0057ff;
    opacity: 0.5;
}

.hire__button:hover {
    color: #0057ff;
}

.hire__button:hover svg:last-child {
    color: #0057ff;
    opacity: 1;
}

.info__container {
    display: none;
}

.webLinks__container {
    width: 100%;
    margin-bottom: 20px;
}

.webLinks__container p {
    color: #707070;
    font-size: 15px;
    line-height: 30px;
    font-weight: bolder;
}

.webLinks__container .icon__conatiner {
    display: flex;
    gap: 5px;
}

.webLinks__container .icon__conatiner .icon {
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}

.webLinks__container .icon__conatiner .icon:hover {
    background-color: #f2f2f2;
}

.webLinks__container .icon__conatiner .icon:nth-child(1) svg {
    fill: #0077b5;
    transition: 0.2s ease;
}

.webLinks__container .icon__conatiner .icon:nth-child(2) svg {
    fill: #CD201F;
    transition: 0.2s ease;
}

.links__container {
    width: 100%;
    margin-bottom: 20px;
}

.links__container p {
    color: #707070;
    font-size: 15px;
    line-height: 30px;
    font-weight: bolder;
}

.link__conatiner {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

.link__conatiner .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px;
}

.link__conatiner .link.not-last {
    border-bottom: 1px solid #e8e8e8;
}

.link__conatiner .link p {
    color: dimgray;
    font-size: 14px;
    line-height: 1.3;
    word-break: break-all;
    transition: color .2s;
}

.link__conatiner .link svg {
    width: 13px;
    height: 20px;
    margin-left: auto;
    opacity: .7;
    stroke: #707070;
    transition: all .2s;
}

.link__conatiner .link:hover {
    background-color: #f2f2f2;
}

.link__conatiner .link:hover p {
    color: #191919;
}

.link__conatiner .link:hover svg {
    opacity: 1;
    stroke: #191919;
}

.about__container {
    width: 100%;
}

.about__container p:first-child {
    color: #707070;
    font-size: 15px;
    line-height: 30px;
    font-weight: bolder;
}

.about__container p:last-child {
    color: #191919;
    font-size: 14px;
    line-height: 22px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.about__container p:last-child a {
    line-height: 22px;
}

.about__container p:last-child a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 604px) and (max-width: 1200px) {
    .left__container {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }

    .buttons__container {
        flex-direction: row;
        justify-content: center;
    }

    .buttons__container a:nth-child(1),
    .buttons__container a:nth-child(2) {
        max-width: 300px;
    }

    .hire__container {
        max-width: 610px;
    }

    .webLinks__container,
    .links__container,
    .about__container {
        max-width: 610px;
        margin: 0 auto 20px;
    }
}

@media screen and (min-width: 1201px) {
    .left__container {
        width: 360px;
        height: calc(100vh - 80px);
        padding: 30px;
        overflow-y: auto;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(25, 25, 25, .1);
    }

    .info__container {
        display: block;
    }
}